body{
    background-color: gray;
}
h1{
    color: brown;
}

p{
    border: 5px solid;
    width: 250px;
    height: 250px;
    font-size: 22px;
    background-color: black;
    color: blue;
    font-family: "conolas",sans-serif;
    font-weight: 1000;
}